{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "node",
    "prettier"
  ],
  "env": {
    "jest/globals": true
  }
}